[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-cors-headers = "*"
django-filter = "*"
djoser = "*"
drf-nested-routers = "*"
pillow = "*"
celery = "*"
redis = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10.12"
